* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: var(--text-main);
  background: #fff;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: 1.25;
}

h1 {
  font-size: clamp(1.4rem, 2.2vw, 2rem);
}

h2 {
  font-size: clamp(1.4rem, 2.1vw, 1.9rem);
  text-align: center;
}
